<% if !@can_create %>
<h1>Positives Received</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>From</th>
  </tr>

<% @positives_received.each do |positive| %>
  <tr>
    <td><%= positive.created_at.strftime("%Y-%m-%d") %>
    <td><%= positive.description %></td>
    <td><%= positive.rubric_line_item.rubric.teacher.first_name %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>

<h1>Positives Given</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>To</th>
  </tr>

<% @positives_given.each do |positive| %>
  <tr>
    <td><%= positive.created_at.strftime("%Y-%m-%d") %>
    <td><%= positive.description %></td>
    <td><%= positive.rubric_line_item.rubric.student.first_name %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Positive', new_positive_path %>
<% end %>
