<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rubric.name %>
</p>

<p>
  <b>Description:</b>
  <%= @rubric.description %>
</p>

<table>
<% @rubric_line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.name %></td>
    <td><%= line_item.description %></td>
  </tr>
  <% line_item.positives.each do |positive| %>
    <tr>
      <td>
      </td>
      <td>
        <%= positive.description =%>
      </td>
  </tr>
<% end %>
<% end %>
</table>

<%= link_to 'Edit', edit_rubric_path(@rubric) %> |
<%= link_to 'Back', rubrics_path %>
