<!DOCTYPE html>
<html>
  <head>
    <title>OneTR</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="content">
      <div id="user_nav">
        <% if  params[:controller] != 'sessions' %>
          <% if current_user %>
            <h2>
        Welcome <%= current_user.first_name %>!
            </h2>
            <%= link_to "Log out", '/logout' %>
          <% else %>
            <%= link_to "Sign up", :controller => :users, :action => :new %> or
            <%= link_to "log in", :controller => :sessions, :action => :new %>
          <% end %>
        </div>
        <div id="navigation">
          <div class="nav-item">
            <br />
            <%= link_to "Users", users_path %>
          </div>
          <div class="nav-item">
            <br />
            <%= link_to "My Rubrics", rubrics_path %>
          </div>
          <div class="nav-item">
            <br />
            <%= link_to "My Positives", positives_path %>
          </div>
        </div>
        <div class='black-line'>
        </div>
      <% end %>
      <div class=clearfix>
      </div>
      <div id=main>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
